*{margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;}

:root{--roxo: rgb(106, 9, 197);
    --roxoFraco: rgb(132, 0, 255);
    --roxoForte: rgb(34, 1, 65);;
    --laranja: rgb(255, 165, 0);
    --azul: rgb(0, 162, 255);
    --amarelo: rgb(255, 255, 0);}



header{background-image: url(imagens/dev3.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    animation: zoom 2s;}

@keyframes zoom{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.header-title{padding: 90px 0;
    width: 85%;
    margin: auto;}

.header-title h1{font-size: 2.5em;
    color: white;
    padding: 7px 0;}

.header-title h2{color: white;
    padding: 7px 0;}



.hamburguer-align{display: flex;
    justify-content: end;
    align-items: center;}

#hamburguer{width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    visibility: visible;}

#hamburguer .line{height: 2px;
    background-color: white;}



nav{width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 100px;}

nav ul{background-color: var(--roxo);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 165px;
    visibility: hidden;
    height: 0;
    transition: .7s;
    overflow-y: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--roxo);}

nav ul li{font-size: 1.2em;
    margin: 5px 5px;
    padding: 5px;
    text-align: end;
    cursor: pointer;
    font-weight: bolder;
    color: rgb(236, 230, 230);}



.array-home-align{width: 95%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 100px;}

.array-home{background-color: var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    width: 55px;
    height: 55px;
    cursor: pointer;}

.array-home p{color: white;
    font-size: 1.7em;
    padding: 5px;}



.active #hamburguer #line1{transform: rotate(-45deg);
    transition: .7s;
    position: relative;
    top: 9px;}
.active #hamburguer #line2{display: none;}
.active #hamburguer #line3{transform: rotate(45deg);
    transition: .7s;
    position: relative;
    bottom: 9px;}

.active ul{visibility: visible;
    overflow-y: auto;
    height: 20vh;}










.sec-1-padding{padding: 45px 0;
    background-color: rgba(243, 243, 243, 0.603);}

.sec-1-padding h1{text-align: center;
    font-size: 2.2em;
    margin-bottom: 25px;}

.sec-1-flex{display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;}

.icon{padding: 10px;
    margin: 10px;}

.icon p{font-size: 1.1em;
    text-align: justify;}

.align-icon{display: flex;
    align-items: center;
    margin-bottom: 15px;}

#html-icon{background-image: url(imagens/html-icon.png);
    background-size: cover;
    display: flex;
    width: 55px;
    height: 55px;
    margin-right: 10px;}

#css-icon{background-image: url(imagens/css-icon.png);
    background-size: cover;
    display: flex;
    width: 55px;
    height: 55px;
    margin-right: 10px;}

#js-icon{background-image: url(imagens/javascript-icon.png);
    background-size: cover;
    display: flex;
    width: 55px;
    height: 55px;
    margin-right: 15px;}

    
  







.sec-2-padding{padding: 45px 0;}

.sec-2-padding h1{text-align: center;
    font-size: 2.2em;
    margin-bottom: 25px;}

.sec-2-flex{display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;}

.align-project{width: 19rem;
    height: 30rem;
    margin: 5px;
    border-radius: 7px;}

.align-project:hover{box-shadow: 0px 0px 4px 2px var(--laranja);}

#project-1{background-image: url(imagens/projeto-1.jpg);
    background-size: cover;
    background-position: center center;}
#project-2{background-image: url(imagens/projeto-2.jpg);
    background-size: cover;
    background-position: center center;}
#project-3{background-image: url(imagens/projeto-3.jpg);
    background-size: cover;
    background-position: center center;}

.descriçao{visibility: hidden;
    height: 26.8rem;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;}

.descriçao-hover:hover .descriçao{visibility: visible;
    background-color: rgba(0, 0, 0, 0.678);}


.descriçao h2{font-size: 2em;
    margin-bottom: 15px;
    color: var(--roxoFraco);
    text-shadow: 1px 1px 1px black;}

.descriçao h3{font-size: 1.4em;
    margin-bottom: 15px;}

.descriçao p{font-size: 1.1em;
    margin-bottom: 35px;
    text-align: justify;
    color: white;
    text-shadow: 1px 1px 1px black;}

.descriçao button{padding: 15px 25px;
    background-color: var(--roxo);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;}

.h3-flex{display: flex;
    justify-content: space-between;
    width: 45%;}

#h3-html{color: var(--laranja);}
#h3-css{color: var(--azul);}
#h3-js{color: var(--amarelo);}



footer{padding: 50px 0;
    background-color: var(--roxoForte);}

.footer-flex{display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;}

.footer-flex p{color: white;
    font-size: 1.1em;}
.footer-flex a{color: var(--laranja);}
a:hover{text-decoration: underline;}

.footer-icons{display: flex;}

#github-icon img{background-size: cover;
    width: 35px;
    height: 35px;
    margin-right: 30px} 

#link-icon img{background-size: cover;
    width: 35px;
    height: 35px}





@media(max-width: 799px){
    .sec-2-flex{flex-wrap: wrap;
        justify-content: center;
        width: 95%;}

    .align-project{width: 95%;
        margin: 15px 0;}}

@media(max-width: 650px){
    .sec-1-flex{flex-wrap: wrap;}}

@media(max-width: 429px){
    .footer-flex{flex-direction: column;}
    .footer-icons{margin-top: 10px;}
}




